// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$white: white;

// cleanaroo colors
$green: #1EBEA6;
$light-green: #BFECE4;
$bright-green: #E7F7F4;
$dark-blue: #3F3E55;
$light-gray: #7B8794;
