// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$gray: #0e0000;
$white: white;

// cleanaroo colors
$green: #1ebea6;
$light-green: #bfece4;
$bright-green: #e7f7f4;
$dark-blue: #3f3e55;
$light-gray: #7b8794;
