// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

// Define fonts for body and headers
$body-font: "Mulish", "sans-serif";
$headers-font: "Mulish", "sans-serif";

h1 {
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-size: 31px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 12px;
  font-weight: 800;
}

p {
  font-size: 14px;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
