// Specific CSS for your home-page
.booking-step {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.booking-step i {
  color: $green;
}

.step-text {
  margin: 0 0 0 20px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.box {
  text-align: center;
  margin: 0;
  padding: 15px;
  background-color: $bright-green;
}

.wrapper {
  position: relative;
  height: 100%;
}

// big screen
@media (min-width: 700px) {
  .home-text h1 {
    font-size: 4rem !important;
  }

  .home-text h4 {
    font-size: 2rem !important;
  }

  .booking-process {
    display: flex;
    align-items: center;
  }

  .booking-step {
    margin: 0;
    margin-bottom: 2rem;
  }
  .step-text h4,
  i {
    font-size: 1.3rem !important;
  }

  .step-text {
    margin: 30px;
    p {
      margin-top: 0.6rem;
    }
  }

  .extra-m {
    margin-top: 6rem !important;
  }

  .font-desktop {
    font-size: 2.5rem !important;
  }

  .flex-desktop {
    display: flex;
    gap: 20px;
    flex-basis: auto;
    .card {
      flex-basis: auto;
      margin: 0 auto;
      flex-grow: 1;
    }

    .card-body h5,
    h3 {
      margin-bottom: 0.5rem;
    }

    .card-body i {
      margin-bottom: 1rem;
    }
  }
}
