<div class="container">
  <%= render 'shared/progressbar' %>

  <h2 class="text-center mt-4 mb-5">Describe a property<br>to be cleaned</h2>

  <%= render 'shared/form_new_edit_property' %>

</div>

<%= render 'shared/footer' %>
