<div class="container">
  <div class="footer">
    <%= link_to root_path do %>
      <h4>Cleanaroo</h4>
    <% end %>
    <hr>

    <!--Social Media-->
    <div class="row">
      <div class="col-12">
        <div class="icons">
          <%= link_to "https://www.facebook.com" do %>
            <i class="fab fa-facebook-f"> </i>
          <% end %>
          <%= link_to "https://www.twitter.com" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= link_to "https://www.instagram.com" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </div>
      </div>
    </div>

    <p>© Cleanaroo, Inc. 2020. <br>Always delivering a clean stay.</p>
  </div>
</div>
