<div class="btn-dark btn-dark-disabled d-flex justify-content-between align-items-center">
  <s> </s>
  <%= f.submit 'Next', class:'btn-submit', disabled: true %>
  <i class="fas fa-angle-right"></i>
</div>