<div class="topnav-cleanaroo">
  <div id="page-wrapper"></div>
  <a href="#home" class="cleanaroo__logo">Logo</a>
  <ul class="menu__desktop">
    <li><a href="" class="desktop__menu__item">Login</a></li>
    <li><a href="" class="desktop__menu__item">Sign-up</a></li>
    <li><a href="" class="desktop__menu__item">Help</a></li>
    <li><a href="" class="desktop__menu__item">About us</a></li>
  </ul>
  <div class="burger__btn">
    <div class='burger__top'></div>
    <div class='burger__middle'></div>
    <div class='burger__bottom'></div>
  </div>
  <div class="side__menu">
    <ul class="side__menu__items">
      <li><a href="" class="mobile__menu__item">Login</a></li>
      <li><a href="" class="mobile__menu__item">Sign-up</a></li>
      <li><a href="" class="mobile__menu__item">Help</a></li>
      <li><a href="" class="mobile__menu__item">About Us</a></li>
    </ul>
  </div>
</div>
