<div class="progressbar">
  <div class="bar"></div>
  <div class="numbers">
    <p class="number <%= "active" if @step_one %>">1</p>
    <p class="number <%= "active" if @step_two %>">2</p>
    <p class="number <%= "active" if @step_three %>">3</p>
  </div>
</div>
