%btn {
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-style: normal;
  display: block;
  padding: 14px 24px;

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.btn-dark {
  @extend %btn;
  background-color: $dark-blue;
  border: 0.5px solid #323f4b;
  color: white;
}

.btn-green {
  @extend %btn;
  background-color: $bright-green;
  color: $dark-blue;
  border: 1px solid #27c6c7;

  &:hover {
    color: inherit;
  }
}

.btn-transparent {
  @extend %btn;
  color: $green;

  &:hover {
    color: transparentize($green, 0.5);
  }

  &:active {
    color: transparentize($green, 0.5);
  }
}

.btn-container {
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  padding-left: inherit;
  padding-right: inherit;
}

.btn-submit {
  background: none;
  outline: none;
  border: none;
  color: white;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.btn-dark-disabled {
  background-color: gray !important;
}

// .btn-submit:disabled {
//   background-color: red;
//   opacity: 0.3;
// }
