.card {
  border-radius: 16px;
  border: 0.5px solid #1f2933;
  margin: 15px 0;
}

.card i {
  color: $green;
}

.card h3 {
  margin: 0 0 5px 0;
}

.card-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

  h3 {
    margin: 0;
  }
}

i.grey {
  color: #7b8794;
}

i.green {
  color: $green;
}

.card-icon-container {
  width: 20px;

  & i {
    font-size: 20px;
  }
}

.card-success {
  display: flex;
  background-color: white;
  background-clip: border-box;
  border-radius: 16px;
  border: 0.5px solid #1f2933;
  margin: 15px 0;
  min-width: 320px;

  i {
    color: $green;
  }
}

.earnings {
  border-top: 0.5px solid #1f2933;
}
