 .dot {
  height: 25px;
  width: 25px;
  background-color: #ec5858;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px 0px 0 -10px;
  color: white;
  font-family: Mulish;
  font-weight: bold;
  font-size: 13px;
}

.dot.red {
  position: absolute;
  margin: 15px 0px 0 137px;
}

.dot.property {
  position: absolute;
  margin: 27px 0px 0 200px;
}

.chat-count{
  display: flex;
  align-items: top;
  }




