.footer {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 16px;
  & a {
    color: $dark-blue;
    &:hover {
      color: $light-gray;
      text-decoration: none;
    }
  }
}

.footer-dashboard {
  height: 80px;
  background-color: white;
  text-align: center;
  border-top: 1px solid $dark-blue;
  padding-top: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  & a {
    color: $dark-blue;
    &:hover {
      color: $light-gray;
      text-decoration: none;
    }
  }
}

.icons a i {
  font-size: 24px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 16px;
  color: $light-gray;
  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}

.footer hr {
  background-color: $dark-blue;
  opacity: 0.8;
}

.dashboard-icons {
  display: flex;
  justify-content: space-between;
}

.dashboard-icons a {
  color: $dark-blue;
  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}
