.mapboxgl-marker {
  color: #1EBEA6;
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     border:1px solid gray;
//     background-color:lightblue;
}

.mapboxgl-canvas {
  width: 100% !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
