.br-theme-css-stars .br-widget a {
  text-decoration: none;
  height: 26px;
  width: 31px;
  float: left;
  font-size: 28px;
  margin-right: 5px;
}

.br-theme-css-stars .br-widget a.br-selected::after {
  color: #1ebea6;
}

#green-star {
  color: #1ebea6;
}
