.nav-pills .nav-link {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #7B8794 !important;
  background-color: none !important;
  margin: 0 0 10px 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: $dark-blue !important;
  background-color: transparent !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
